@model IEnumerable<Accounting.Domain.Entities.ProfitCentreAccount>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RowVersion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChartOfAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfitCentre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RowVersion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChartOfAccount.AccountID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfitCentre.ProfitCentreID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PCAccountID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PCAccountID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PCAccountID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
