@model Accounting.Infrastructure.Models.ProfitCentreModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProfitCentre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfitCentreName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfitCentreName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TradeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TradeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfitCentreType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfitCentreType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProfitCentreID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
